@page "/addsubelement/{Id:int}"
@using OrderManagement.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h3>Create a new Subelement</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Window"> Window: @window.Name</label>
            <input type="hidden" name="WindowId" @bind="@subelement.WindowId" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Name"> Type *</label>
            <input form="Name" class="form-control" @bind="@subelement.Type" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Quantity"> Width *</label>
            <input form="Quantity" class="form-control" @bind="@subelement.Width" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Quantity"> Height *</label>
            <input form="Quantity" class="form-control" @bind="@subelement.Height" />
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public int Id { get; set; }

    SubelementAddModel subelement = new SubelementAddModel();

    WindowViewModel window = new WindowViewModel();
    protected override async Task OnInitializedAsync()
    {
        //window = await Http.GetFromJsonAsync<WindowViewModel>("api/window/" + Id);
        subelement.WindowId = Id;
    }

    protected async Task Save()
    {
        var response = await Http.PostAsJsonAsync("api/Subelement", @subelement);
        SubelementViewModel orderResponse = await response.Content.ReadFromJsonAsync<SubelementViewModel>();
        if (orderResponse?.Id > 0)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Saved Successfully!");
            NavigationManager.NavigateTo("orderlist");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "There was a problem processing the request. Please try again.");
        }

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/windowlist/" + Id);
    }
}
