@page "/deleteorder/{Id}"
@using OrderManagement.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h3>Delete an Order</h3>
@if(order != null)
{
<p>Are you sure you want to delete this order with Name: <b>@order.Name</b></p>
<div class="row">
    <div class="col-md-4">
        <table class="table">
            <tr>
                <td>Id</td>
                <td>@order.Id</td>
            </tr>
           <tr>
               <td>Name</td>
               <td>@order.Name</td>
           </tr>
           <tr>
                <td>State</td>
               <td>@order.State</td>
           </tr>
        </table>
    </div>
</div>    
}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-danger" @onclick="@Delete" value="Delete" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Id{ get; set; }

    OrderViewModel order = new OrderViewModel();
    protected override async Task OnInitializedAsync()
    {
        order = await Http.GetFromJsonAsync<OrderViewModel>("api/order/" + Id);
    }
    protected async Task Delete()
    {
        var response = await Http.DeleteAsync("api/Order/" + Id);
        bool deleteResponse = await response.Content.ReadFromJsonAsync<bool>();
        if (deleteResponse)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Deleted Successfully!");
            NavigationManager.NavigateTo("orderlist");
        }

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("orderlist");
    }

}
