@page "/editwindow/{Id}"
@using OrderManagement.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h3>Edit a Window</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Name"> Name *</label>
            <input form="Name" class="form-control" @bind="@window.Name" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="State"> Quantity *</label>
            <input form="State" class="form-control" @bind="@window.Quantity" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            <input type="hidden" name="Id" @bind="@window.Id" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Id{ get; set; }

    WindowUpdateModel window = new WindowUpdateModel();

    protected override async Task OnInitializedAsync()
    {
        //window = await Http.GetFromJsonAsync<WindowUpdateModel>("api/window/GetWindow?wid=" + Id);
    }

    protected async Task Save()
    {
        var response = await Http.PutAsJsonAsync("api/Window/" + Id, @window);
        bool orderResponse = await response.Content.ReadFromJsonAsync<bool>();
        if (orderResponse)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Updated Successfully!");
            NavigationManager.NavigateTo("orderlist");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "There was a problem processing the request. Please try again.");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/windowlist/" + window.OrderId);
    }
}
