@page "/editsubelement/{Id}"
@using OrderManagement.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h3>Edit a Subelement</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Name"> Type *</label>
            <input form="Name" class="form-control" @bind="@subelement.Type" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="State"> Width *</label>
            <input form="State" class="form-control" @bind="@subelement.Width" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="State"> Height *</label>
            <input form="State" class="form-control" @bind="@subelement.Height" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            <input type="hidden" name="Id" @bind="@subelement.Id" />
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Id{ get; set; }

    SubelementUpdateModel subelement = new SubelementUpdateModel();

    protected override async Task OnInitializedAsync()
    {
    }

    protected async Task Save()
    {
        var response = await Http.PutAsJsonAsync("api/Subelement/" + Id, @subelement);
        bool orderResponse = await response.Content.ReadFromJsonAsync<bool>();
        if (orderResponse)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Updated Successfully!");
            NavigationManager.NavigateTo("orderlist");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "There was a problem processing the request. Please try again.");
        }
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("orderlist");
    }
}
