@page "/windowlist/{Id}"
@using OrderManagement.Shared

@inject HttpClient _httpClient

<h3>Windows for Order: @Id</h3>
<div>
    <a href="/addwindow/@Id" class="btn btn-primary mb-1">Add New</a>
    @if (windows != null && windows.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Order Id</th>
                    <th scope="col">Window Name</th>
                    <th scope="col">Window Quantity</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var window in windows)
                {
                    <tr>
                        <th scope="row">@window.Id</th>
                        <td>@window.OrderId</td>
                        <td>@window.Name</td>
                        <td>@window.Quantity</td>
                        <td>
                            <a href="/editwindow/@window.Id">Edit</a> |
                            <a href="/deletewindow/@window.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No window data exists for the selected Order</p>
    }
</div>
@code {
    [Parameter]
    public string Id { get; set; }

    List<WindowViewModel> windows = new List<WindowViewModel>();

    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/Window/" + Id);
        response.EnsureSuccessStatusCode();
        windows = await response.Content.ReadFromJsonAsync<List<WindowViewModel>>();
    }
}
